@charset "UTF-8";
/* ========================== Обнуляющий стиль ================================================== */
@import "null.css";
/* ========================= Шрифты ==================================== */
/* ================================================================================== */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #333;
  color: #fff;
}

.content {
  padding: 50px 0;
  max-width: 1000px;
  margin: 0 auto;
}

.tabs {
  margin: 0 0 50px 0;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tabs__items .tabs__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
@media (max-width: 550px) {
  .tabs__items .tabs__item span {
    display: block;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
  }
}

.tabs__body {
  position: relative;
}
.tabs__body .tabs__block {
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  display: none;
  opacity: 0;
  height: 0px;
  overflow: auto;
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.tabs__body .tabs__block._active {
  display: block;
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 200px;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 200px;
  }
}
.tabs__body .tabs__block:nth-child(1) {
  background-color: #eb8698;
}
.tabs__body .tabs__block:nth-child(2) {
  background-color: #9278aa;
}
.tabs__body .tabs__block:nth-child(3) {
  background-color: #97c67d;
}
.tabs__body .tabs__block:nth-child(1)::before {
  content: "";
  height: 50px;
  width: 33.333%;
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #eb8698;
}
.tabs__body .tabs__block:nth-child(2)::before {
  content: "";
  height: 50px;
  width: 33.333%;
  position: absolute;
  top: -50px;
  left: 33.333%;
  background-color: #9278aa;
}
.tabs__body .tabs__block:nth-child(3)::before {
  content: "";
  height: 50px;
  width: 33.333%;
  position: absolute;
  top: -50px;
  right: 0;
  background-color: #97c67d;
}